<div class="productinfo">
    <div class="productview">
        <img src="{{img}}" alt="Product">
    </div>
    <div class="producttext">
        <h2>{{title}}</h2>
        <p class="text">{{des}}</p>
  <div class="example-button-row">
    <button mat-stroked-button color="primary" (click) = 'addToCart(data)'>Add To Cart</button>
    <button mat-raised-button color="warn">Buy Now</button>
    </div>
    <div class="des">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error pariatur consequatur atque provident quod officia soluta aliquam vitae nobis exercitationem laborum consectetur sequi ipsum, voluptatibus expedita doloremque sit repudiandae adipisci?
        Nemo quasi ad ipsam molestias facilis nisi maiores, illo dolorum, ratione praesentium qui vel unde doloremque voluptates inventore quae beatae hic. Expedita sequi culpa modi non obcaecati minima asperiores quos?
        Eveniet quasi repellat explicabo ad, doloribus possimus iste dolor nemo enim laborum reprehenderit voluptate sit saepe aspernatur magni corrupti quos deleniti voluptatibus rerum voluptatum cum suscipit. Voluptatibus assumenda illum dolore!
        Quaerat expedita vero excepturi laborum maxime magni similique fuga, voluptas nostrum, enim deleniti perferendis molestias animi earum sequi deserunt reprehenderit omnis doloremque aut consectetur? Fugit distinctio necessitatibus blanditiis ad in?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae optio distinctio sunt porro ipsum velit atque, ea aspernatur eveniet facilis qui voluptatem magnam, recusandae, ullam amet corporis. Asperiores, ut dolores.
        Repellendus magni placeat nesciunt modi, sapiente quasi! Quam consequatur maxime beatae excepturi velit quaerat asperiores et voluptatibus ullam blanditiis repellat unde harum exercitationem voluptatem nostrum, voluptates cumque pariatur officiis aperiam?</p>
    </div>
</div>