<form class="example-form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate>

    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <button type = "button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                        <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
                            Password must have 6 characters
                         </mat-error>
                        <mat-error *ngIf="password.hasError('required')">
                            Set a password
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="changePasswordForm.hasError('notSame')">
                        Passwords do not match
                    </mat-error> 
                </mat-form-field>
            </td>
        </tr>
    </table>
    <button mat-stroked-button color="primary" [disabled]="!changePasswordForm.valid">Update</button>
</form>
