<mat-card>
    <h2><strong>Featured Products</strong></h2>
    <hr>
    <div class="products">
        <div id="product_1" class="product">
            <img src="{{image_3}}" width="100px" height="100px" alt="">
            <p>From ₹1999</p>
            <h3>{{title_3}}</h3>
        </div>
        <div id="product_2" class="product">
            <img src="{{image_4}}" width="100px" height="100px" alt="">
            <p>Upto 40% Off</p>
            <h3>{{title_4}}</h3>
        </div>
        <div id="product_3" class="product">
            <img src="{{image_5}}" width="100px" height="100px" alt="">
            <p>Minimum 60% Off</p>
            <h3>{{title_5}}</h3>
        </div>
        <div id="product_4" class="product">
            <img src="{{image_6}}" width="100px" height="100px" alt="">
            <p>From ₹1599</p>
            <h3>{{title_6}}</h3>
        </div>
    </div>
</mat-card>

<app-products></app-products>