<div class="heading" id="heading1">
    <p class="headingtext">Discount Products</p>
</div>
<div class="cards">
    <div class="card" *ngFor="let datas of data">
        <img src="{{datas.image}}" alt="Product" id="productimg">
        <div class="container">
            <a routerLink="home/productexplain">
                <a routerLink="productexplain" (click)="userSlectedCard(datas)">
                    <h4>{{datas.title}}</h4>
                    <p>${{datas.price}}</p>
                </a>
            </a>
        </div>
    </div>
</div>